<aside>
	<ul>       
	  <li class="current"><a href="index"><i class="icon-home"></i> Início</a></li>
	  <li><a href="#"><i class="icon-star"></i> Projetos</a></li>
	  <li><a href="/about"><i class="icon-quote-left"></i> Sobre</a></li>
	</ul>
	<h4>Conteúdo</h4>
	<ul> 
	  <li><a href="#"><i class="icon-bookmark"></i> Favoritos</a></li>
	  <li><a href="/posts/all"><i class="icon-archive"></i> Arquivo</a></li>
      <li><a href="#"><i class="icon-tags"></i> Tags</a></li>
	</ul>
	<h4>Categorias</h4>
	<ul> 
	  <li><a href="#"><i class="icon-plus"></i> Categoria 1</a></li>
	  <li><a href="#"><i class="icon-plus"></i> Categoria 2</a></li>
      <li><a href="#"><i class="icon-plus"></i> Categoria 3</a></li>
	</ul>
</aside>